################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EducativeTop45DSA/EducativeTop45DSA.sln
